<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New Exercise</title>
  </head>
  <body>
    <h1>{{ selected_word}}</h1>

    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    
    {% if definitions %}
    <form action="{% url 'words:exercises_verify' exercise.id%}" method="post">
      {% csrf_token %}
        {% for definition in definitions %}
        <input type="radio" name="definition", id="definition{{ forloop.counter }}" value="{{ definition.id }}" />
        <label for="definition{{ forloop.counter }}">{{ definition.definition_text }}</label>
      <br>
      {% endfor %}
      <input type="submit" value="Verify">
    {% else %}
    <p>No definitions are available.</p>
    {% endif %}
  </body>
</html>
